baseURL = 'https://floriangaechter.com/'
languageCode = 'en-us'
title = 'floriangaechter.com'
disableKinds = ["taxonomy", "term"]

[outputs]
home = ["HTML", "RSS"]

[outputFormats.RSS]
baseName = "rss"

[build]
[build.buildStats]
enable = true
[[build.cachebusters]]
source = 'assets/notwatching/hugo_stats\.json'
target = 'css'
[[build.cachebusters]]
source = '(postcss|tailwind)\.config\.js'
target = 'css'
[module]
[[module.mounts]]
source = 'assets'
target = 'assets'
[[module.mounts]]
disableWatch = true
source = 'hugo_stats.json'
target = 'assets/notwatching/hugo_stats.json'

[markup]
[markup.highlight]
noClasses = false
codeFences = true
